
.cirru-color {
    background-color: hsl(271, 100%, 95%);
    padding: 0px 10px;
    counter-reset: cirru-color;
    font-family: Monaco;
    line-height: 22px;
}
.cirru-color .cirru-line {
  counter-increment: cirru-color;
}
.cirru-color .cirru-line:before {
  content: counter(cirru-color);
  color: hsl(0, 79%, 81%);
  padding-right: 12px;
}

.cirru-color .whitespace {}
.cirru-color .func {
    color: blue;
}
.cirru-color .string {
    color: hsl(60, 45%, 55%);
}
.cirru-color .para {
    color: gray;
}
.cirru-color .punc {
    color: hsl(262, 100%, 86%);
}
.cirru-color .string-text {
    color: hsl(60, 41%, 51%);
}
.cirru-color .dollar {
    color: hsl(300, 100%, 73%);
}
.cirru-color .escape {
    color: hsl(0, 87%, 69%);
}
.cirru-color .escape-text {
    color: red;
}
