
.cirru-color .whitespace {}
.cirru-color .func {
    color: #aaf;
}
.cirru-color .string {
    color: hsl(60, 45%, 55%);
}
.cirru-color .para {
    color: gray;
}
.cirru-color .punc {
    color: hsl(132, 18%, 74%);
}
.cirru-color .string-text {
    color: hsl(60, 41%, 51%);
}
.cirru-color .escape {
    color: hsl(0, 87%, 69%);
}
.cirru-color .escape-text {
    color: red;
}
