
.cirru-color .whitespace {}
.cirru-color .func {
    color: hsl(200, 70%, 36%);
}
.cirru-color .keyword {
    color: hsl(220, 60%, 74%);
}
.cirru-color .number {
    color: hsl(340, 100%, 60%);
}
.cirru-color .string {
    color: hsl(50, 30%, 50%);
}
.cirru-color .para {
    color: hsl(0, 0%, 60%);
}
.cirru-color .punc {
    color: hsl(340, 100%, 58%);
}
.cirru-color .string-text {
    color: hsl(60, 41%, 61%);
}
.cirru-color .escape {
    color: hsl(320, 90%, 60%);
}
.cirru-color .escape-text {
    color: red;
}
.cirru-color .indentation {
    border-left: 1px solid #f2f2f2;
}